:root {
    /* Se usará para almacenar 1% de la altura real de la ventana */
    --vh: 1vh;
  }
  
  html,
  body {
    background-color: #fff;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Evita scroll vertical y horizontal */
  }
  
  h2,
  h3,
  h4,
  h5,
  p {
    font-family: DM Sans, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  main {
    /* En lugar de 100vh, usamos calc con la variable --vh */
    height: calc(var(--vh, 1vh) * 100);
  }
  
  .mapa {
    /* Por ejemplo, el 90% de la altura real */
    height: calc(var(--vh, 1vh) * 90);
    overflow: hidden;
  }
  
  /* El resto de tu CSS permanece igual */
  .balas {
    padding: 1rem;
    height: 10vh;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    overflow-x: auto;
    white-space: nowrap;
  }
  
  .balas img {
    width: 2vw;
  }
  
  .contador {
    padding: 1rem;
  }
  
  #manolo {
    background-image: url("./img/favicon.png");
    background-color: blue;
    height: 10vh;
    width: 10vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* Halo a Manolo */
    box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.75);
  }
  
  .info {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.9);
  }
  
  /* Estilos para el modal */
  .modal {
    display: none; /* Oculto por defecto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
  }
  
  .modal-content button {
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    border: none;
    background: blue;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
  }
  
  .modal-content button:hover {
    background: darkblue;
  }
  